<!DOCTYPE HTML>
<html>
<head>
    <title>Service Architect</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/view.css">
    <link rel="stylesheet" href="/css/writeView.css">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
</head>
<body>
<div class="layer">
    <div id="blogTitle">
        <h1 id="bloglink"><a href="/">Service Architect</a></h1>
    </div>

        <!-- 로그인-->
        {{#userName}}
        <div id="logout">
            Logged : <span id="user">{{userName}}</span>
            <button id="logout-btn"><a href="/logout" role="button">Logout</a></button>
        </div>
        {{/userName}}
        {{^userName}}
        <div id="login">
            <a href="/oauth2/authorization/google" role="button"><img src="https://blog-spring-aws-upload.s3.ap-northeast-2.amazonaws.com/btn_google_light_normal_ios.png"/></a>
    <!--    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>-->
        </div>
        {{/userName}}

    <nav><span><a href="/view/ALL?page=1">ALL</a></span><span><a href="/view/Trend?page=1">Trend</a></span><span><a href="/view/BackEnd?page=1">BackEnd</a></span><span><a href="/view/DataBase?page=1">DataBase</a></span></nav>