a {text-decoration-line: none;}
a:visited, a:link{text-decoration: none; color: black;}

.layer{
  width: 100%;
  margin:0 auto;
  text-align: center;
}
#blogTitle{
    padding: 20px 0;
    display: inline-block;
}
#bloglink{
    display:inline;
}
#login{
    position: absolute;
    top: 10px;
    left: 75%;
}
nav{
    margin: 2% 0;
}
nav span {
    margin: 0 5%;
    font-weight: bold;
    font-size: 20px;
}
#img-wrapper{
    width :100%
}
#mainImg{
    max-width: 100%; height: auto;
}
#mainView-wrapper{
    position: relative;
}
.mainView_save{
    position: absolute;
    top: 0;
    left: 70%;
    font-size:12px;
}
.hotview-wrapper{
    width: 50%;
    margin:0 auto;
    font-size: 25px;
    border: 1px solid black;
}
.hotView_count{
    width: 20%
}
.hotView_title:hover{
    color : pink;
}

.hotView_kategorie{
    width: 20%;
    color: pink;
}

button{
    margin: 2px;
    border-radius: 5px;
    font-size:15px;
    border: 1px solid  #000;
    width: 70px;
}