
#view-wrapper{
    width: 50%;
    margin:0 auto;
    background-color: #fbfcff;
    position: relative;
}
#viewTitle{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
#postView_author{
    margin-left: 50px;
    display: inline-block;
    /*position: absolute;*/
    /*    top: 5%;*/
    /*    left: 80%;*/
}

#update-view-btn{
    float: right;
    background-color: #fbfcff;
}

#view-content{
    text-align: start;
}
.image_resized{
    width: 100%;
}