{{>layout/header}}
    <div id="img-wrapper">
        <img id="mainImg" src="/images/mainImg.jpg">
    </div>
    <div>
        <br>
        <!-- 목록-->
        <div id="mainView-wrapper">
            <h3>HOT 인기 게시물</h3>
            <div class="mainView_save"><a href="/posts/save" role="button" >게시글 작성</a></div>
        </div>
        <table class="hotview-wrapper">
            {{#posts}}
                <tr>
                    <td class="hotView_count">{{viewCtn}} 👀</td>
                    <td>
                        <a class="hotView_title" href="/viewPost/{{id}}">{{title}}</a>
                    </td>
                    <td class="hotView_kategorie" style="">{{kategorie}}</td>
                </tr>
            {{/posts}}
        </table>
        <input type="text" id="searchKeyword" placeholder="본문 내용">
        <button type="button" id="btn-search" class="btn btn-secondary active">검색</button>
    </div>
</div>
{{>layout/footer}}