{{>layout/header}}
<div class="layer">
    <div id="view-wrapper">
        <p id="viewTitle">{{post.title}}</p>
        <div id="postView_author">{{post.author}}</div>
        <div>{{{post.content}}}</div>
    </div>
</div>
{{>layout/footer}}